# Arithimatic Operator

In [ ]:
#operators
#Arithmatic Operators
#Comparison Operators Rational Operators
#Assignment Operators
#Logical Operators
#Bitwise Operators
#Membership Operators
#Identity Operators

In [20]:
["Hamza", "Junaid"]+["Abid", "Konain"]

['Hamza', 'Junaid', 'Abid', 'Konain']

In [3]:
("Hamza", "Junaid")+("Abid", "Konain")

('Hamza', 'Junaid', 'Abid', 'Konain')

In [4]:
{"Hamza", "Junaid"}+{"Abid", "Konain"}

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [5]:
[9,5]-[4,6]

TypeError: unsupported operand type(s) for -: 'list' and 'list'

In [6]:
{9,5}-{4,3}

{5, 9}

In [7]:
"A"*3

'AAA'

In [8]:
["A"]*3

['A', 'A', 'A']

In [9]:
("A","B")*3

('A', 'B', 'A', 'B', 'A', 'B')

In [10]:
("A")*3

'AAA'

In [11]:
11/3

3.6666666666666665

In [15]:
5+2+3+7+9+8+5+6

45

In [16]:
11 // 4

2

In [17]:
11%3

2

In [18]:
2**3 #2x2x2

8

In [19]:
"A"**2

TypeError: unsupported operand type(s) for ** or pow(): 'str' and 'int'

# Comparison Operators

In [21]:
#  == 
#  >
#  <
#  >=
#  <=
#  !=, <>

In [22]:
2==2

True

In [23]:
"A" == "a"

False

In [24]:
5 > 3

True

In [25]:
5 > 5

False

In [26]:
5 >= 5

True

In [27]:
"a" > "B"

True

In [28]:
"A" > "B"

False

#A =65   Z = 90
a = 97       z = 122
0 = 48     9  = 57

In [29]:
ord("a")

97

In [31]:
chr(97)

'a'

In [32]:
3< 4

True

In [33]:
3<=3

True

In [34]:
2!=5

True

In [36]:
2!=2

False

# Assignment Operators

In [38]:
#  =
# +=
# -=
# *=
# /=
# //=
# **=
# %=

In [39]:
a=5
a=6
a=7
print(a)

7

In [42]:
a=1
a+=2
a+=3
a+=4
print(a)

10

In [43]:
a= 100
a -=5
a -=5
a -=10
print(a)

80

In [45]:
a = 1
a *=2
a *=3
print(a)

6

In [66]:
a="A"
a+="B"
a

'AB'

In [68]:
a =[1,2,3]
b = [3,4,5]
a+=b
a

[1, 2, 3, 3, 4, 5]

In [48]:
a=7
a/=3
print(a)

2.3333333333333335

In [50]:
a=7
a//=3
a*=2
print(a)

4

In [51]:
a=7
a%=2
a%=2
print(a)

1

In [69]:
a=7
a**=4
print(a)

2401

# Logical Operators

In [55]:
# and &
#  or |
# not

In [56]:
a= True
b = False
c = a and b
print(c)

False

In [58]:
a= True
b = False
c = a or b
print(c)

True

In [61]:
a= True
b = False
c = not b
print(c)

True

In [62]:
a= 5
b = 6 
c = a==b or a <b
print(c)

True

In [64]:
a= 5
b = 6 

if  a==b or a <b :
    print("Sahar is mad.")
else:
    print("Ali is mad.")

Sahar is mad.

In [70]:
a= True
b = False
c = a&b
print(c)

False

In [71]:
a= True
b = False
c = a | b
print(c)

True

In [78]:
a= True
b = False
c = not b
print(c)

True

In [81]:
username = input("Enter User Name: ")
password = input("Enter password: ")
username=="Admin" and password =="123"

Enter User Name: Admin
Enter password: 123

True

In [82]:
username = input("Enter User Name: ")
password = input("Enter password: ")
(username=="Admin") & (password =="123")

Enter User Name: Admin
Enter password: 123

True

In [83]:
True or False and True or False

True

In [88]:
user ="Qasim" #qasim, Ali,Hamza
password ="123"
user = input("User Name: ")
password = input("Password: ")

(user=="Qasim" or\
 user=="Ali" or\
 user=="Hamza") and password=="123"

User Name: Ali
Password: 123

True

In [93]:
user= "a"
passowrd= "123"
not(user=="Ali" and password =="123")

True

# Bitwise Operators

In [75]:
#   &	Bitwise AND Operator	10 & 7 = 2
#   |	Bitwise OR Operator	10 | 7 = 15
#   ^	Bitwise XOR Operator	10 ^ 7 = 13
#   ~	Bitwise Ones’ Compliment Operator	~10 = -11
#   <<	Bitwise Left Shift operator	10<<2 = 40
#   >>	Bitwise Right Shift Operator	10>>1 = 5

8,   7,   6,   5,   4,   3,   2,   1,   0
2,   2,   2,   2,   2,   2,   2,   2,   2
============================================
,   16,   8,   4,   2,   1

In [84]:
a =5   #  0101
b = 7  #  0111
a&b

5

In [89]:
a =5   #  0101
b = 7  #  0111
a|b

7

In [90]:
a =5   #  0101
b = 7  #  0111
a^b

2

In [94]:
b=7 #0111
~b

-8

In [95]:
a = 28  #11100
b = 29  #11101
a&b

28

In [98]:
a = 28
b = 29
a|b

29

In [99]:
a ^ b

1

# Membership Operator

In [100]:
# in 
# not in

In [106]:
names =["Ali" , "Hamza", "Junaid", "Kashif"]

i= 0;
while i< len(names):
    if names[i]=="Junaid":
        print("True")
        break
    i +=1

True

In [104]:
names =[]

i= 0;
while i< 10:
    names.append(input("Enter Name:"))
    i +=1
if "Pakistan" in names:
    print(True)
else:
    print(False)

Enter Name:Ali
Enter Name:Hamza
Enter Name:Pakistan
Enter Name:Lahore
Enter Name:karachi
Enter Name:Peshawar
Enter Name:banana
Enter Name:chakwal
Enter Name:fff
Enter Name:f
True

In [105]:
user = input("Text: ")
"Pakistan" not in user

Text: adfadfaf aadfa f a Pakistan adfdasfd

False

# Identity Operators

In [110]:
a = '5'
b= '6'
c = a 
print(id(a))
print(id(b))
print(id(c))
print(a is b)
print(a is c)

2774441063848
2774440818256
2774441063848
False
True

# Control Flow

if else elif

if logic:
    Value_if_True
else:
    value_if_False

In [111]:
if True:
    print("Pakistan")
else:
    print("Zindabaad")

Pakistan

In [112]:
if False:
    print("Pakistan")
else:
    print("Zindabaad")

Zindabaad

In [114]:
user = input("Enter User: ")
password = input("Enter password: ")
if user in ["Ali", "Junaid","Qasim"] and password ==  "123":
    print("Valid User")
else:
    print("Invalid User")

Enter User: Kashif
Enter password: 123
Invalid User